.sm-icon {
    display: inline;
    height: 45px;
    width: 45px;
}

#self-photo {
    display: inline;
    float: left;
    height: 140px;
    width: 140px;
    padding: 15px;
    margin: 10px;
}



