.subtotal {
  font-size: 22px;
  float: right;
}

#cart {
    display: inline-block;
    margin: 4px;
    overflow-y: scroll;
    position: relative;
}

#cart th {
    text-align: left;
    margin-left: 3px;
}

#cart.sticky {
    position: fixed;
    top: 20px;
}

/* The Modal (background) */
.modal {
    text-align: center;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 150px; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
#modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#modal-close:hover,
#modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#address {
    width: 55%;
    margin: 10px;
    float: left;
    text-align: left;
}

.input-wrapper {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.input-wrapper label {
    transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    color: #999;
    padding: 7px 6px;
}

#address-form input {
    width: 100%;
    border: 2px solid gray;
    background: none;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 8px 12px;
    outline: 0;
}

#address-form input:focus + label {
    /* do something with the label */
    display: none;
}

#address-form input:valid {
    background: white;
}

#address-span {
    width: 350;
    margin-right: 0;
}

#final-order {
    width: 35%;
    display: inline;
}

#final-submit {
    display: block;
    float: left;
    text-align: left;
}

#save-address {
    display: inline;
}

