.subtotal {
  font-size: 22px;
  float: right;
}

#cart {
    border: solid;
    display: inline-block;
    margin: 4px;
    overflow-y: scroll;
    position: relative;
}

#cart th {
    text-align: left;
    margin-left: 3px;
}

#cart.sticky {
    position: fixed;
    top: 20px;
}
