<div class='banner'>Pizza Shop</div>
<div class='navigation'>
  <ul id='navigation'>
    <li><%= link_to 'Home', page_path('home') %></li> | 
    <li><%= link_to 'Menu', menu_items_path %></li> | 
    <li><%= link_to 'About', page_path('about') %></li>
  </ul>
</div>
